//-------------------------------------------------------------------
// Data Landing Page Content
//-------------------------------------------------------------------



// Data-cards ----------------------------------------------

.data-cards {
//     margin-top:30px;
//     margin-bottom:30px;
}
.data-cards__heading {
    color: $color_dark-blue;
    margin-left:auto;
    margin-right:auto;
    max-width:$max-content-width;
}


.data-cards__items {
    margin:30px auto 60px;

    @include breakpoint("min-width:600px") {
        @include flex-grid(2);
        max-width:620px;
        margin:30px auto;
    }
    @include breakpoint("min-width:880px") {
        @include flex-grid(3);
        max-width:945px;
    }
    @include breakpoint("min-width:1350px") {
        @include flex-grid(4);
        max-width:1280px;
    }
}