.funding__body {
    hr {
        border-color:#6c6c6c;
        margin-top:-30px;
        margin-bottom:30px;
    }
}
.funding__name {

}
.funding__summary {
    margin-bottom: 1em;
}
.funding__image {
    margin-top: 5px;
    max-width:100%;
}