//-------------------------------------------------------------------
// Site Header
//-------------------------------------------------------------------
.site-header {
    position:fixed;
    background:$color_white;
    z-index:$index_header;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);

    @include breakpoint(desktop) {
        background:rgba(255,255,255,0.86);        
    }
}

.site-header__inner {
    height:$header_height_mobile;
    display:flex;
    justify-content:space-between;
    // transition:all 0.2s $ease-out-quad;

    @include breakpoint(desktop) {
        overflow:visible;
        height:$header_height_tablet;
        justify-content:flex-start;
    }
    @include breakpoint(desktop-xxl) {
        height:$header_height_desktop;     
    }
}

// Branding ---------------------------------------------------------



.site-header__branding {
    text-indent:-9999px;    
    background-size:contain;
    background-repeat: no-repeat;
    transition:width 0.2s $ease-out-quad, height 0.2s $ease-out-quad, margin 0.2s $ease-out-quad;
}

// MODIFIER - Identify primary-level branding
.site-header__branding--primary {
    width:185px;
    height:65px;
    margin-top:22px;
    background-image:url('../img/logo-hta.svg');
    display:block;

    @include breakpoint(desktop) {
        width:280px;
        height:45px;
        margin-top:30px;
    }
    @include breakpoint(desktop-xxl) {
        width:348px;
        height:50px;
        margin-top:80px;
    }
}
// MODIFIER - Indentify secondary-level branding
.site-header__branding--secondary {
    margin-top:30px;
    width:180px;
    height:48px;
    background-image:url('../img/logo-hms.svg');
    display:none;

    @include breakpoint(desktop) {
        display:block;
    }
    @include breakpoint(desktop-xxl) {
        width:225px;
        height:60px;
        margin-top:80px;
    }
}
// MODIFIER - Flag for mobile-specific branding elements
.site-header__branding--mobile {
    @include breakpoint(desktop) {
        display:none;
    }
}



// ------------------------------------------------------------------
// Mobile nav men (top level items) / Hamburger menu
// ------------------------------------------------------------------

.site-header__menu-icon {
    margin-left:auto;
    @include breakpoint(desktop) {
        display:none;
    }
    @include breakpoint(desktop) {
        display:none;
    }
}

.site-header__menu-icon-link {
    position: relative;
    display: block;
    background:url('../img/icon-mobile-menu.svg') left center no-repeat;
    width:40px;
    height:40px;
    margin-top:15px;
    text-align: center;
    border:none;

    &:hover {
        border:none;
    }

}
