//-------------------------------------------------------------------
// Template for secondary pages site-wide
//-------------------------------------------------------------------

.secondary {
    @extend %clearfix;
}

.secondary__hero {
    height:140px;
    background-size:cover;
    background-position: center;
    @include background-image($heroImage, 768, 140, 'crop', 25);
    
    @include breakpoint(tablet-v) {
        @include background-image($heroImage, 1024, 140, 'crop', 25);
    }
    @include breakpoint(desktop) {
        height:200px;
        @include background-image($heroImage, 1200, 200, 'crop', 25);
    }
    @include breakpoint(desktop-l) {
        @include background-image($heroImage, 1800, 200, 'crop', 25);
    }
    @include breakpoint(desktop-xxl) {
        height:295px;
        @include background-image($heroImage, 1920, 295, 'crop', 25);
    }
}

.secondary__content-wrap {
    
    margin-top:80px;
    margin-bottom:60px;

    @include breakpoint(desktop) {
        margin-top:95px;
        margin-bottom:120px;
    }
}
.secondary__content-wrap--standard {
    @extend %container;
}
.secondary__content-wrap--wide {
    @extend %container-wide;
}

.secondary__subnav {
    @extend %container;
    margin-top:10px;
    margin-bottom:-40px;

    .subnav {
        display: inline-block;
        margin: 0;
    }
    .subnav__item {
        @include font-size(14px);

        @include breakpoint(desktop) {
            @include font-size(16px);
        }
    }
    .subnav__link {
        text-decoration: none;
        position:relative;
    
        &:hover:not(.active) {
            color: $color_blue !important;
        }
    
        &.active {
            cursor: default;
            
            &:before {
                content:"";
                display:block;
                position:absolute;
                right:0;
                bottom:-3px;
                width:100%;
                border-bottom:2px solid $color_light-blue;
            }
        }
    }

    @include breakpoint(desktop) {
        margin-bottom:-45px;
    }
}
.secondary__subnav-heading {
    @include font-size(20px);
    display: inline-block;
    font-weight:500;
    text-transform: uppercase;
    color: $color_dark-blue;
    margin-right:1em;

    @include breakpoint(desktop) {
        @include font-size(24px);
    }
}