# Node
node_modules
npm-debug.log

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile
Gemfile.lock


# Misc
.DS_Store
Desktop.ini
Thumbs.db
.Trashes
.idea
vendor
.bundle
*/.obsidian/
