html {
    scroll-behavior: smooth;
    color:$color_black;
}

body {
    @extend %text-style-2;
}

h1 {
    @extend %heading-style-1;
    color: $color_dark-blue;
}
h2 {
    @extend %heading-style-2;
    color: $color_blue;
}
h3 {
    @extend %heading-style-3;
    color: $color_blue;
}

a {
    color:$color_blue;
    transition:color 0.2s $ease-out-quad, border-color 0.2s $ease-out-quad;

    &:hover {
        text-decoration:none;
    }
}

ul, ol {
    padding-inline-start:1.7em;
}

// section {
//     padding-top:40px;
//     padding-bottom:40px;
// }

p {
    // &:first-of-type {
        margin-top:0;
    // }
    &:last-of-type {
        margin-bottom:0;
    }
}

*:focus {
    outline:0;
}

details {
    position:relative;
    margin:1em 0;

    &[open] {
        padding-bottom:2.5em;

        summary {
            position: absolute;
            bottom:.3em;

            &:after {
                content:"–";
            }
        }
    }
}
summary {
    @extend .expand-button;
}