
// ----------------------------------------------------------------------------
// Helper classes
// ----------------------------------------------------------------------------

/*
 * Hide visually and from screen readers:
 */

.is-hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.is-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.is-visuallyhidden.focusable:active,
.is-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.is-invisible {
    visibility: hidden;
}

.is-opaque {
    opacity:1 !important;
}

/*
 * Prevent scrolling - typically used on body and/or html in conjunction with modal reveal
 */
.no-scroll {
    height:100%;
    overflow: hidden!important;
}


/*
*/
.anchor {
    display:block;
    position:relative;
    top:(-$header_height_mobile - 20px);

    @include breakpoint(desktop) {
        top:(-$header_height_desktop - 20px);
    }
}
[id] {
    scroll-margin-top: $header_height_mobile;
    @include breakpoint(desktop) {
        scroll-margin-top: $header_height_tablet;
    }
    @include breakpoint(desktop-xxl) {
        scroll-margin-top: $header_height_desktop;
    }
}


.publications [id],
.software [id] {
    scroll-margin-top: calc(#{$header_height_mobile} + 20px);
    @include breakpoint(desktop) {
        scroll-margin-top: calc(#{$header_height_tablet} + 40px);
    }
    @include breakpoint(desktop-xxl) {
        scroll-margin-top: calc(#{$header_height_desktop} + 40px);
    }
}

  
/*
 * Containers
 * NOTE: We use an alternate naming convention for these classes,
 *       because we don't want to conflict with the Bootstrap
 *       container class.
 */

.wrapper {
    @extend %container;
}
.wrapper-narrow {
    @extend %container-narrow;
}
.wrapper-wide {
    @extend %container-wide;
}

/*
 * Image Alignment
 */

.float-half-right,
.float-half-left {
    margin-bottom: .5em;
}

@include breakpoint(tablet-v) {
    .float-half-right {
        float: right;
        max-width: 48%;
        margin-left: 4%;
    }
    .float-half-left {
        float: left;
        max-width: 48%;
        margin-right: 4%;
    }
}


/*
 * Spacing
 * Extend vertical spacing options for Bootstrap spacing utilities
 */
 .mt-6 {
    margin-top: 4rem !important;
}
.mb-6 {
    margin-bottom: 4rem !important;
}
.mt-7 {
    margin-top: 5rem !important;
}
.mb-7 {
    margin-bottom: 5rem !important;
}
@media (min-width: 768px) {
    .mt-md-6 {
        margin-top: 4rem !important;
    }
    .mb-md-6 {
        margin-bottom: 4rem !important;
    }
    .mt-md-7 {
        margin-top: 5rem !important;
    }
    .mb-md-7 {
        margin-bottom: 5rem !important;
    }
}
@media (min-width: 992px) {
    .mt-lg-6 {
        margin-top: 4rem !important;
    }
    .mb-lg-6 {
        margin-bottom: 4rem !important;
    }
    .mt-lg-7 {
        margin-top: 5rem !important;
    }
    .mb-lg-7 {
        margin-bottom: 5rem !important;
    }
}
@media (min-width: 1200px) {
    .mt-xl-6 {
        margin-top: 4rem !important;
    }
    .mb-xl-6 {
        margin-bottom: 4rem !important;
    }
    .mt-xl-7 {
        margin-top: 5rem !important;
    }
    .mb-xl-7 {
        margin-bottom: 5rem !important;
    }
}

/*
 * General Purpose
 */
// Simulate H1 styling on a text element, with tighter vertical
// spacing. Useful for prominent inline headings.
.section-heading {
    @extend %heading-style-1;
    margin:1em 0 .4em;
}
.offset-background {
    background:$color_light-gray;
    overflow: auto; // prevent margin collapse
    margin-left: -#{$margin_mobile};
    margin-right: -#{$margin_mobile};    
    padding-top:15px;
    padding-bottom:15px;

    @include breakpoint(tablet-v) {
        margin-left: -#{$margin_tablet};
        margin-right: -#{$margin_tablet};
        padding-top:25px;
        padding-bottom:25px;
    }
    
    @include breakpoint(desktop) {
        margin-left: -#{$margin_desktop};
        margin-right: -#{$margin_desktop};
        padding-top:40px;
        padding-bottom:40px;
    }
}
.secondary__content-wrap--standard {
    .offset-background {
        @include breakpoint("min-width:#{$max-screen-width}") {
            margin-left: calc((100vw - #{$max-content-width}) / 2 * -1);
            margin-right: calc((100vw - #{$max-content-width}) / 2 * -1);
        }
    }
  }
  .secondary__content-wrap--wide {
    .offset-background {
        @include breakpoint("min-width:#{$max-wide-screen-width}") {
            margin-left: calc((100vw - #{$max-wide-content-width}) / 2 * -1);
            margin-right: calc((100vw - #{$max-wide-content-width}) / 2 * -1);
        }
    }
  }