//-------------------------------------------------------------------
// NAV STYLES
//-------------------------------------------------------------------

.roboto-light {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%nav-item-style-1 {
    // Main nav, desktop.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    @include font-size(16px);
    line-height:1;
    letter-spacing:normal;
    text-transform:uppercase;
    text-decoration:none;

    @include breakpoint(desktop-xxl) {
        @include font-size(18px);
    }
}
%nav-item-style-2 {
    // Main nav, mobile.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    @include font-size(20px);
    line-height:2.4;
    letter-spacing:normal;
    text-transform:uppercase;
    text-decoration:none;
}

// ------------------------------------------------------------------
// HEADING STYLES
// ------------------------------------------------------------------

%heading-style-1 {
    // H1 heading treatment
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    text-transform: uppercase;
    @include font-size(28px);
    line-height:1.2;
    letter-spacing:0.025em;
    
    @include breakpoint(desktop) {
        @include font-size(36px);
        line-height: normal;
    }
}

%heading-style-2 {
    // H2 heading treatment
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    text-transform:uppercase;
    @include font-size(20px);       // 200226.
    line-height:1.2; 
    letter-spacing:0.025em;

    @include breakpoint(desktop) {
        @include font-size(24px);   // 200312.
    }
}

%heading-style-3 { 
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(16px);
    line-height:1.2;

    @include breakpoint(desktop) {
        @include font-size(20px);
        line-height:1.2;
    }
}

%heading-style-4 {      // CCSP 20 BOLD / 28
    // Section title text.
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(14px);
    line-height:1.2;

    @include breakpoint(desktop) {
        @include font-size(18px);
        line-height:1.2;
    }
}



%heading-style-callout { 
    // Hero overlay text.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:1.42;
    letter-spacing:0.02em;
    text-transform:none;
    @include font-size(22px);
    
    @include breakpoint(desktop) {
        @include font-size(28px);
    }
    @include breakpoint(desktop-xxl) {
        @include font-size(30px);
    }
}

/*

%heading-style-3 {      // CCSP 18 BOLD / 28
    // About caption title text.
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(18px);
    line-height:1.56;

    @include breakpoint(desktop) {
        @include font-size(18px);
        line-height:1.56;
    }
}
%heading-style-4 {      // CCSP 22 BOLD / 28
    // People chip name.
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(22px);
    line-height:1.27;

    @include breakpoint(desktop) {
        @include font-size(22px);
        line-height:1.27;
    }
}
%heading-style-5 {      // CCSP 20 BOLD / 28
    // Section title text.
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(20px);
    line-height:1.4;

    @include breakpoint(desktop) {
        @include font-size(20px);
        line-height:1.4;
    }
}
%heading-style-6 {      // CRS 18 BOLD CAPS // 200226
    // Page subnav section name text.
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(16px);
    line-height:1; 
    text-transform:uppercase;

    @include breakpoint(desktop) {
        @include font-size(18px);
        line-height:1;
    }
}
%heading-style-7 {      // CRS 22 REG // 200227
    // Research > Overview "Explore More" text
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    @include font-size(20px);
    line-height:1; 

    @include breakpoint(desktop) {
        @include font-size(22px);
        line-height:1;
    }
}
%heading-style-8 {      // CRS 19 BOLD // 200227
    // Research > Publications pub title text
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    @include font-size(19px);
    line-height:1.56;

    @include breakpoint(desktop) {
        @include font-size(19px);
        line-height:1.56;
    }
}
*/
// ------------------------------------------------------------------
// TEXT STYLES
// ------------------------------------------------------------------

%text-style-1 { 
    // Footer credits.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(22px);
    line-height:1.44;
    letter-spacing:normal;

    @include breakpoint(desktop-xxl) {
        // @include font-size(36px);
        // line-height:1.67;
        @include font-size(24px);
    }
}


%text-style-2 {
    // Default body.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(16px);
    line-height:1.44;
    letter-spacing:.25px;

    @include breakpoint(desktop) {
        @include font-size(18px);
    }
}

%text-style-3 {
    // Footer (lower section)
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(12px);
    line-height:1.25;
    // line-height:1.375;
    letter-spacing:0;

    @include breakpoint(desktop) {
        @include font-size(14px);
        line-height:1.5;
        // line-height:1.25;
        // line-height:1.375;
    }
}
%text-style-4 {
    font-family:'Roboto', sans-serif;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    @include font-size(18px);
    line-height:1.44;
    
    @include breakpoint(desktop) {
        @include font-size(20px);
    }
}
/*
%text-style-5 {         // CCSP 20 REG / 28
    // List Item text.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(20px);
    line-height:1.4;
    letter-spacing:normal;

    @include breakpoint(tablet-v) {
        @include font-size(20px);
        line-height:1.4;
    }
}
%text-style-6 {         // 16 REG
    // Footer text.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(14px);
    line-height:1.28;
    letter-spacing:normal;

    @include breakpoint(tablet-v) {
        @include font-size(16px);
        line-height:1.25;
    }
}
%text-style-7 {         // 14 REG
    // WYSIWYG caption text.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(14px);
    line-height:1.25;
    letter-spacing:normal;

    @include breakpoint(tablet-v) {
        @include font-size(14px);
        line-height:1.25;
    }
}
*/

// ------------------------------------------------------------------
// BUTTON AND LINK STYLES
// ------------------------------------------------------------------

%button-style-1 {       // 18 REG CAPS
    // Rounded rectangle button.
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    @include font-size(18px);
    line-height:23px;   // Button height.
    letter-spacing:normal;
    text-transform:uppercase;

    @include breakpoint(tablet-v) {
        @include font-size(18px);
        line-height:23px;  // Button height.
    }
}

%link-style-1 {         // 30 BOLD
    // Linked text followed by arrow.
    // Section intro blurb text.
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-style:normal;
    font-stretch:normal;
    @include font-size(30px);
    line-height:1.6;
    letter-spacing:normal;
    text-transform:uppercase;
}


// Our font icon - generated via fontello
%icon-font {
    font-family:'fontello';
    font-style: normal;
    font-weight: normal;
}

