<footer class="site-footer">
    <div class="site-footer__about">
        <div class="site-footer__content-container">
          Atlases comprising molecular and physical maps of tissues and tumors reveal how diseases originate and progress to improve early diagnosis and effective treatment.
        </div>
    </div>
    <div class="site-footer__funding">
        <div class="site-footer__content-container">
          This work is supported by the National Cancer Institute Grants U54-CA225088, U2C-CA233262, and U2C-CA233280, Ludwig Center at Harvard Medical School and the Ludwig Cancer Research Foundation, the Bill and Melinda Gates Foundation, the Gray Foundation, and the Rossy Foundation.
        </div>
    </div>
    <div class="site-footer__main">
        <ul class="site-footer__logo-list">
            <li class="site-footer__logo-item">
                <a href="https://hms.harvard.edu/" target="_blank"><img srcset="{{ '/assets/img/logo-hms_white.png' | relative_url }}, {{ '/assets/img/logo-hms_white@2x.png' | relative_url }} 2x" src="{{ '/assets/img/logo-hms_white.png' | relative_url }}" alt="Harvard Medical School"></a>
            </li>
            <li class="site-footer__logo-item">
                <a href="https://hits.harvard.edu/the-program/laboratory-of-systems-pharmacology/about/" target="_blank"><img src="{{ '/assets/img/logo-lsp.svg' | relative_url }}" alt="Laboratory of Systems Pharmacology"></a>
            </li>
            <li class="site-footer__logo-item">
                <a href="https://www.ludwigcancerresearch.org/" target="_blank"><img src="{{ '/assets/img/logo-ludwig_no-box.svg' | relative_url }}" alt="Ludwig Cancer Research"></a>
            </li>
            <li class="site-footer__logo-item">
                <a href="https://humantumoratlas.org/" target="_blank"><img srcset="{{ '/assets/img/logo-htan_white.png' | relative_url }}, {{ '/assets/img/logo-htan_white@2x.png' | relative_url }} 2x" src="{{ '/assets/img/logo-htan_white.png' | relative_url }}" alt="Human Tumor Atlas Network"></a>
            </li>
            <li class="site-footer__logo-item">
                <a href="https://www.cancer.gov/about-nci/organization/dcb/research-programs/csbc" target="_blank"><img src="{{ '/assets/img/logo-cancer-systems-biology-consortium_white.svg' | relative_url }}" alt="Cancer Systems Biology Consortium"></a>
            </li>
        </ul>
    </div>
    <div class="site-footer__legal">
        <div class="site-footer__content-container"><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy" target="_blank">Accessibility Policy</a></div>
    </div>
</footer>
