<footer class="site-footer">
    <div class="site-footer__main">
        <ul class="site-footer__logo-list">
            <li class="site-footer__logo-item">
                <img srcset="{{ '/assets/img/logo-hms_white.png' | relative_url }}, 
                             {{ '/assets/img/logo-hms_white@2x.png' | relative_url }} 2x"
                     src="{{ '/assets/img/logo-hms_white.png' | relative_url }}" 
                     alt="Harvard Medical School">
            </li>
            <li class="site-footer__logo-item">
                <img src="{{ '/assets/img/logo-lsp.svg' | relative_url }}" alt="Laboratory of Systems Pharmacology">
            </li>
            <li class="site-footer__logo-item">
                <img src="{{ '/assets/img/logo-ludwig_no-box.svg' | relative_url }}" alt="Ludwig Cancer Research">
            </li>
            <li class="site-footer__logo-item">
                <img srcset="{{ '/assets/img/logo-htan_white.png' | relative_url }}, 
                             {{ '/assets/img/logo-htan_white@2x.png' | relative_url }} 2x"
                     src="{{ '/assets/img/logo-htan_white.png' | relative_url }}" 
                     alt="Human Tumor Atlas Network">
            </li>
            <li class="site-footer__logo-item">
                <img src="{{ '/assets/img/logo-cancer-systems-biology-consortium_white.svg' | relative_url }}" alt="Cancer Systems Biology Consortium">
            </li>
        </ul>
    </div>
</footer>