<div class="news-card news-card--color-{{ include.card-color }}">
    <div class="news-card__image">
        <img src="{{ site.imgbaseurl }}{{ include.content.image }}?w=259&h=176&fit=crop" alt="Thumbnail image for news item">
    </div>
    <div class="news-card__content">
        <div class="news-card__title">{{ include.content.title }}</div>
        {% if include.content.description %}
            <div class="news-card__description">{{ include.content.description }}</div>
        {% endif %}
        {%- assign meta = "" -%}
        {%- if include.content.author -%}
            {%- assign meta = include.content.author -%}
        {%- endif -%}
        {%- if include.content.year -%}
            {%- assign meta = meta | append: " " | append: include.content.year | append: "." -%}
        {%- endif -%}
        {%- if include.content.publication -%}
            {%- assign meta = meta | append: " <em>" | append: include.content.publication | append: "</em>" -%}
        {%- endif -%}
        {%- if meta and meta != "" -%}
            <div class="news-card__meta">{{ meta }}</div>
        {%- endif -%}

        {% if include.content.link %}
            <a href="{{ include.content.link }}" target="{{ include.content.target }}" class="arrow-button news-card__link"><span>{{ include.content.label }}</span></a>
        {% endif %}

        {% if include.content.link2 %}
            <a href="{{ include.content.link2 }}" target="{{ include.content.target2 }}" class="arrow-button news-card__link"><span>{{ include.content.label2 }}</span></a>
        {% endif %}

    </div>
</div>