<div class="software-listing" id="{{ include.content.slug }}">
    <div class="software-listing__photo">
        {% if include.content.image %}
            {% assign imgUrl = include.content.image %}
        {% else%}
            {% assign imgUrl = "/general/HTA_thumb.jpg" %}
        {% endif %}
        <img srcset="{{ site.imgbaseurl }}{{ imgUrl }}?w=258&fit=clamp, {{ site.imgbaseurl }}{{ imgUrl }}?w=258&fit=clamp&dpr=2 2x" alt="{{ include.content.title }}">
    </div>
    <div class="software-listing__info">
        <h3 class="software-listing__title">{{ include.content.title }}</h3>
        <div class="software-listing__contributors">
            {{ include.content.description | markdownify }}
        </div>
        <ul class="software-listing__links">
            {%- if include.content.publication -%}
                <li class="software-listing__link">
                    <a href="{{ include.content.publication }}" target="_blank">
                        Publication
                    </a>
                </li>
            {%- endif -%}
            {%- if include.content.['source code'] -%}
                <li class="software-listing__link">
                    <a href="{{ include.content.['source code'] }}" target="_blank">
                        Code
                    </a>
                </li>
            {%- endif -%}
            {%- if include.content.documentation -%}
                <li class="software-listing__link">
                    <a href="{{ include.content.documentation }}" target="_blank">
                        Project site
                    </a>
                </li>
            {%- endif -%}
            {%- if include.content.video -%}
                <li class="software-listing__link">
                    <a href="{{ include.content.video }}" target="_blank">
                        Video
                    </a>
                </li>
            {%- endif -%}

        </ul>

    </div>

</div>
