// Colors
$color_black:#000000;
$color_white:#ffffff;
$color_red:#c41230;        
$color_blue:#00b3f0;        
$color_medium-blue:#058cbd;        
$color_dark-blue:#0a59a8;   
$color_dark-gray:#58585a;
$color_magenta:#950066;     
$color_fuchsia:#713187;     

// Not specified in current palette
$color_light-gray: #f2f2f2;
$color_light-blue:#5cddff;        


// Global Images
$heroImage: 'general/HarvardTumorAtlas_HeaderImage.jpg';

// Header Sizes
$header_height_mobile:70px;
$header_height_tablet:120px;
$header_height_desktop:210px;

// Margin Sizes
$margin_mobile:20px;
$margin_tablet:30px;
$margin_desktop:72px;


// Content Sizes
$max-content-width:1080px;
$max-screen-width:$max-content-width + ($margin_desktop * 2) + 16px;  // Add 16 for scrollbar

$max-narrow-content-width:950px;
$max-narrow-screen-width:$max-narrow-content-width + ($margin_desktop * 2) + 16px;  // Add 16 for scrollbar

$max-wide-content-width:1280px;
$max-wide-screen-width:$max-wide-content-width + ($margin_desktop * 2) + 16px;  // Add 16 for scrollbar


// Track z-index layers used by elements affected by overlays
$index_header: 10;

// Easing Equations
$ease-out-quad:cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-quart:cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint:cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-back:cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-quad:cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-in-out-quart:cubic-bezier(0.77, 0, 0.175, 1);