//-------------------------------------------------------------------
// Button Styles (consider using placeholders to extend)
//-------------------------------------------------------------------

.button {
    display:inline-block;
    color:$color_dark-blue;
    text-transform:uppercase;
    text-decoration:none;
    border:2px solid $color_dark-blue;
    padding:7px 14px 7px 14px;
    transition:all 0.2s $ease-out-quad;
    &:hover {
        text-decoration:none;
    }

    &:hover {
        background:$color_dark-blue;
        color:$color_white;
    }
}

.arrow-button {
    display:inline-block;
    color:$color_dark-blue;
    text-transform:uppercase;
    text-decoration:none;
    border:2px solid $color_dark-blue;
    padding:7px 20px 7px 14px;
    transition:all 0.2s $ease-out-quad;
    &:hover {
        text-decoration:none;
    }

    &:after {
        content:"\E81E";
        line-height:1;
        font-family:fontello;
        margin-left:10px;
        position:relative;
        left:0;
        transition:all 0.2s $ease-out-quad;
    }
    &:hover {
        background:$color_dark-blue;
        color:$color_white;

        &:after {
            color:$color_white;
            left:5px;
        }
    }
}

.expand-button {
    text-transform:uppercase;
    color: $color_blue;
    position:relative;
    cursor:pointer;

    &::-webkit-details-marker,
    &::marker {
        display:none;
    }
    &:after {
        content:"+";
        color:white;
        display:inline-flex;
        justify-content:center;
        align-items:center;
        font-size:2rem;
        line-height:0;
        font-weight:bold;
        width:30px;
        height:30px;
        background:$color_blue;
        position:relative;
        margin-left:.3em;
        border-radius:50%;
        top:.15em;
    }

}