
.data-card {
    max-width:295px;
    margin:15px auto;
    background:$color_blue;
    color:$color_white;
    display:flex;
    flex-direction:column;
    justify-content: stretch;

    @include breakpoint(tablet-v) {
        margin-top:25px;
        margin-bottom:35px;
    }
    @include breakpoint(desktop) {
        margin-top:40px;
        margin-bottom:50px;
    }
}

.data-card__image {
    overflow:hidden;
    
    img {
        aspect-ratio: 295/280;
        width: 100%;
        object-fit: cover;
    }
}

.data-card__content {
    padding:12px 18px 18px;
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    line-height:1.222;
    // margin-bottom:.75em;
}
.data-card__title {
    font-weight: 500;
    margin-bottom:1em;
}
.data-card__links {
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}
.data-card__link {
    margin:0;
    padding:0;
    flex: 0 0 auto;

    &:first-child {
        margin-left:0;
    }

    a {
        padding:0 4px;
        border:3px solid $color_white;
        height:36px;
        min-width:36px;
        box-sizing:border-box;
        display:flex;
        justify-content: center;
        align-items:center;
        transition:all 0.2s $ease-out-quad;

        &:hover {
            background:$color_dark-blue;
            border-color:$color_dark-blue;
        }
    }
}
