figure {
    margin: 0 0 1.5em;

    img {
        display:block;
        max-width:100%;
    }
}
.graphic__bordered-img {
    border:0px solid $color_black;
}
figcaption {
    line-height:1.3;
    color:$color_dark-gray;
    margin-top:1em;
}
.graphic__title {
    color:$color_blue;
    font-weight: 700;
}