
.news-card {
    max-width:295px;
    margin:0 auto 30px;
    background:$color_blue;
    color:$color_white;
    display:flex;
    flex-direction:column;
    justify-content: stretch;

    @include breakpoint(tablet-v) {
        margin-bottom:60px;
    }
    @include breakpoint(desktop) {
        margin-bottom:90px;
    }
}
// MODIFIERS FOR COLOR
.news-card--type-tools {
    background:$color_magenta;
}
.news-card--type-publication {
    background:$color_medium-blue;
}
.news-card--type-method {
    background:$color_fuchsia;
}
.news-card--type-software {
    background:$color_dark-blue;
}

.news-card__image {
    overflow:hidden;
    padding: 18px 18px 12px;

    img {
        width:100%;
    }
}

.news-card__content {
    padding:12px 18px 10px;
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    line-height:1.222;
    // margin-bottom:.75em;
}
.news-card__title {
    font-weight: 500;
    margin-bottom:1em;
}
.news-card__meta {
    @include font-size(16px);
    font-weight: 500;
    margin-bottom:.8em;
}
.news-card__link {
    color:$color_white;
    @include font-size(22px);
    border:none;
    padding-left:0;
    margin-left:-.4em;

    &:hover {
        background:none;
    }
}
.news-card__footer {
    @include font-size(16px);
    font-style: italic;
    text-transform: uppercase;
    padding:8px 18px 7px;
    background:rgba(255,255,255,.17);
}