.pub-listing {
    margin-bottom:2em;

    @include breakpoint(tablet-v) {
        display:flex;
        justify-content: space-between;
        margin-bottom:3.4em;
    }
}
// MODIFIER - No image available
.pub-listing--no-img {
    @include breakpoint(tablet-v) {
        display:block;
    }
}
.pub-listing__photo {
    transition:flex-basis 0.2s $ease-out-quad;
    margin-bottom:.75em;
    
    img {
        max-width:100%;
        display:block;
    }

    @include breakpoint(tablet-v) {
        flex:0 0 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include breakpoint(desktop-l) {
        flex:0 0 260px;
    }
}
.pub-listing__info {
    line-height:1.38;

    @include breakpoint(tablet-v) {
        flex-basis:calc(100% - 230px);  // Subtract photo width + gutter
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
    @include breakpoint(desktop-l) {
        flex-basis:calc(100% - 290px);
    }
}

.pub-listing__title {
    @extend %text-style-2;
    margin-bottom:.1em;
    font-weight: 700;
    line-height:1.38;

    @include breakpoint(tablet-v) {
        margin-top:0;
    }
}
.pub-listing__publication {
    font-style: italic;
}
.pub-listing__publication-link {
    font-style:normal;
    color:$color_black;
}
.pub-listing__links {
    margin:1em 0 0;
    padding:0;
    list-style:none;
    display:flex;
    align-items:center;
}
.pub-listing__link {
    display:inline-block;
    margin:0 0 0 25px;
    padding:0;
    line-height:1;

    &:first-child {
        margin-left:0;
    }

    a {
        padding:0 6px;
        background:$color_blue;
        height:32px;
        min-width:32px;
        box-sizing:border-box;
        display:flex;
        justify-content: center;
        align-items:center;
        transition:all 0.2s $ease-out-quad;
        color:$color_white;
        font-style: italic;
        text-decoration: none;
        
        &.no-button-style {
            padding:0;
            background:none;
            height:auto;
        }

        &:hover {
            background:$color_dark-blue;

            &.no-button-style {
                padding:0;
                background:none;
            }
        }
    }

}