.subnav {
    margin:.3em 0;
}
.subnav__list {
    list-style:none;
    margin:0;
    padding:0;
}
.subnav__item {
    @include font-size(15px);
    color: $color_dark-gray;
    display:inline-block;
    margin:0;
    padding:0;

    &:after {
        content:"|";
        display:inline-block;
        margin:0 .5em 0 .7em;
    }

    &:last-child {
        &:after {
            display:none;
        }
    }
} 
.subnav__link {
    color: $color_dark-gray;
    text-transform: uppercase;
}