table {
    border:1px solid $color_black;
    overflow-x: auto;
    max-width: 100%;
    width: fit-content;
    display: block;
}
tbody {
    border-top:1px solid $color_black; 
}
th, td {
    padding:4px 8px;
    border-right:1px solid $color_black; 
    line-height:1.3;
}
th:last-child, td:last-child {
    border-right: none;
}
tr:nth-child(odd) {
    background:$color_light-gray;
}
thead tr {
    background:$color_white !important;
}
thead th {
    white-space: pre;
}

// Use an additional wrapper for our tables to allow for horizontal scrolling
.table-wrapper {
    @include breakpoint("max-width:1439px") {
        overflow-x: scroll;
    }
}

//-------------------------------------------------------------------
// 'Left Column Head' styl tables
//-------------------------------------------------------------------

.left-column-head-table {
    border: none;
    margin:1em 0;

    tbody {
        border: none;
    }
    tr {
        border-bottom: 1px solid $color_white;
    }
    th {
        color: $color_white;
        background-color: $color_medium-blue;
        text-align: left;
        font-weight: 500;
        border-right: 1px solid $color_white;
    }
    td {
        border: none;
        background-color: #e6eef5;
        color: $color_black;
    }
    a {
        color: $color_black;

        &:hover {
            color: $color_medium-blue;
        }
    }

    @include breakpoint(desktop) {
        th {
            white-space: nowrap;
            padding-left:20px;
            padding-right:20px;
        }
        td {
            width: 100%;
            padding-left:20px;
            padding-right:20px;
        }
    }
}