// Responsive video

.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

// Video Card layout
.video-card {
    background: #e6eef6;
    padding: 14px;
    height: 100%;
}
.video-card__text {
    margin:.8em auto;
    text-align: center;
}
.video-card__title {
    @include font-size(20px);
    font-weight: 700;
    color: $color_medium-blue;
}
.video-card__description {
    max-width:800px;
    margin:.6em auto auto;
}