---
layout: secondary
---

<section class="funding">
    <div class="funding__inner">
        <h1 class="funding__heading">{{ page.title }}</h1>

        {{ content }}

        <div class="funding__body">

            {% assign funding = site.funding | sort: 'date' %}
            {% for grant in funding %}

            <div class="row mb-5">
                <div class="col">
                    <h2 class="funding__name">
                        {{ grant['name'] }}
                    </h2>
                    <div class="funding__summary">
                        {{ grant['summary'] | markdownify }}
                        
                        {% if grant['description'] %}
                            {{ description['description'] | markdownify }}
                        {% endif %}
                        
                        {% if grant['grant'] %}
                            {{ grant['grant'] | markdownify }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% assign imgUrl = grant['grant-image'] %}
                    {% if imgUrl %}
                        {% if grant['is-high-dpi'] %}
                            <img srcset="{{ site.imgbaseurl }}{{ imgUrl }}?w=.5&dpr=1, {{ site.imgbaseurl }}{{ imgUrl }}?w=1&dpr=2 2x" alt="{{ grant['name'] }}" class="funding__image">
                        {% else %}
                            <img src="{{ site.imgbaseurl }}{{ imgUrl }}" alt="{{ grant['name'] }}" class="funding__image">
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <hr>

            {% endfor %}
        </div>
    </div>

</section>
