---
layout: default
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__image">
            <div class="hero__text-container">
                <div class="hero__text">
                    
                    <h1>{{ page['hero text'] }}</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="secondary">
    <div class="secondary__content-wrap {% if page.wide_container %}secondary__content-wrap--wide{% else %}secondary__content-wrap--standard{% endif %}">
        
        {{ content }}

    </div>
</div>

<section class="featured-data">
    <div class="featured-data__inner container-wide">
        <h2 class="featured-data__heading">Featured Atlas/Data</h2>
        <div class="featured-data__items">
            {% assign sorted = site.datasets | where: 'featured', true | sort: 'date' | reverse %}
            {% for dataset in sorted %}

                {% include data-card.html content=dataset %}
                
            {% endfor %}
        </div>
        <div class="featured-cards__cta">
            <a href="{{ 'data' | relative_url }}" class="arrow-button">View all data</a>
        </div>
    </div>
</section>

<section class="featured-cards">
    <div class="featured-cards__inner container-wide">
        <h2 class="featured-cards__heading">News &amp; Updates</h2>
        <div class="featured-cards__items">
            {% for item in site.data.news.featured %}

                {% include news-card.html content=item %}
                
            {% endfor %}
        </div>
    </div>
</section>