---
layout: default
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__image">
            <div class="hero__text-container">
                <div class="hero__text">
                    
                    <h1>{{ content }}</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-data">
    <div class="featured-data__inner container-wide">
        <h2 class="featured-data__heading">Featured Atlas/Data</h2>
        <div class="featured-data__items">
            {% assign sorted = site.datasets | where: 'featured', true | sort: 'date' | reverse %}
            {% for dataset in sorted %}

                {% include data-card.html content=dataset %}
                
            {% endfor %}
        </div>
        <a href="{{ 'data' | relative_url }}" class="arrow-button">View all data</a>
    </div>
</section>
