---
layout: default
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__image">
            <div class="hero__text-container">
                <div class="hero__text">

                    <h1>{{ page['hero text'] }}</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="secondary">
    <div class="secondary__content-wrap {% if page.wide_container %}secondary__content-wrap--wide{% else %}secondary__content-wrap--standard{% endif %}">

        {{ content }}

        {% assign cards = site.data.announcements.news_press %}

        {% include cards.html
            heading='News'
            cards=cards
            card-type='news-card'
            card-color='medium-blue'
            extra-margins=true
        %}


        {% assign cards = site.data.announcements.publications_software %}
        {% assign cta_url = 'publications' | relative_url %}
        {% assign cta_label = 'View all publications' %}
        {% assign cta_url2 = 'methods-software' | relative_url %}
        {% assign cta_label2 = 'View all software' %}

        {% include cards.html
            heading='Publications &amp; Software'
            cards=cards
            card-type='news-card'
            card-color='dark-blue'
            cta-url=cta_url
            cta-label=cta_label
            cta-url2=cta_url2
            cta-label2=cta_label2
            extra-margins=true
        %}


        {% assign cta_url = 'atlases' | relative_url %}
        {% assign cta_label = 'View Atlases' %}

        {% include cards.html
            heading='Featured Atlas/Data'
            featured=true
            cta-url=cta_url
            cta-label=cta_label
            extra-margins=true
        %}

    </div>
</div>
