---
layout: secondary
---

<section class="people">
    <div class="people__inner">
        <h1 class="people__heading">People</h1>
        {% for siteDataGroup in site.data.people.groups %}
            <div class="people__location">
                <h2 class="people__location-name">{{ siteDataGroup.name }}</h2>
                {% assign people = site.people | where: 'group', siteDataGroup.key | sort: 'weight' %}
                {% for person in people %}
                    
                    {% include person.html content=person %}

                {% endfor %}
            </div>
        {% endfor %}
        {% for list_hash in site.data.people-name-lists %}
            <div class="people__location">
                <h2 class="people__location-name">{{ list_hash[0] | replace: "_", " " }}</h2>
                <div class="row">
                    {% for row  in list_hash[1] %}
                    <div class="col-12 col-sm-6">
                        <h3 class="mt-0 mb-3">{{ row.name }}, {{ row.degree }}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    {{ content }}
    
</section>