---
layout: secondary
---

<section class="publications">
    <div class="publications__inner">
        <h1 class="publications__heading">{{ page.title }}</h1>
        {% for siteDataGroup in site.data.publications.groups %}
            <div class="publications__group">
                <h2 class="publications__group-name">{{ siteDataGroup.name }}</h2>
                {% assign pubs = site.publications | where: 'group', siteDataGroup.key | sort: 'date' | reverse %}
                {% for pub in pubs %}
                    
                    {% include pub-listing.html content=pub %}

                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ content }}
    
</section>